dist/
!www/favicon.ico
www/

*~
*.sw[mnpcod]
*.debug.*
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
*.bak
*.ini
/dist
public/
/.stencil
.stencil/
.idea/
.vscode/
.sass-cache/
.versions/
node_modules/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env
